body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}

/* Header Start */
header {
  padding: 1.5rem 0;
  margin-bottom: 2rem;
}
.logo {
  margin: 0;
  display: inline-block;
}
.login-button {
  display: inline-block;
  margin-left: auto;
}

/* Header End */

/* Form List Container */
.form-list-container {
  min-height: 15rem;
  height: 20rem;
  display: flex;
  justify-content: space-between;
}

/* Form Start */
form {
  height: 10rem;
  max-width: 50%;
  width: 400px;
  padding: 1.5rem 1rem;
}

form label,
form input {
  color: black;
}
/* Form End */

/* Todo List Container Start */
.todo-list-main-container {
  max-width: 50%;
  width: 400px;
}

ul {
  text-align: center;
  display: flex;
  flex-direction: column;
}

ul li {
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  margin-left: 0.75rem;
  font-style: italic;
  font-weight: 300;
}

.delete-button {
  margin-left: 1.5rem;
}
/* Todo List Container End */

.empty-list {
  text-align: center;
  font-size: 2rem;
  color: red;
}
