body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}

/* Header Start */
header {
  padding: 1.5rem 0;
  margin-bottom: 2rem;
}
.logo {
  margin: 0;
  display: inline-block;
}
.login-button {
  display: inline-block;
  margin-left: auto;
}

/* Header End */

/* Form Start */
form {
  display: inline-block;
  max-width: 50%;
  width: 400px;
  padding: 1.5rem 1rem;
}

form label,
form input {
  color: black;
}
/* Form End */

/* Todo List Container Start */
.todo-list-main-container {
  display: inline-block;
  max-width: 50%;
  width: 400px;
  margin-left: auto;
}

ul {
  text-align: center;
}
/* Todo List Container End */
